.catalog {
    background-color: #11009E;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    background-image: url('../../public/imgs/bg2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.catalog .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}