.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}


.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.link {
    font-size: 25px;
    text-decoration: none;
    color: #4942E4;
    transition: .2s ease-in-out;
}

.link:hover {
    transform: scale(1.1);
}

.website-title {
    font-size: 50px;
    color: #11009E;
    text-decoration: none;
    font-weight: 600;
}